/* ================= RESET ================= */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0b0b0b;
    color: white;
}

select {
    padding: 10px;
    border-radius: 8px;
    background: #302f2f;
    color: white;
}

/* ================= HEADER ================= */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    height: 53px;
    background-color: rgba(0,0,0,0.9);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    height: 50px;
}

.header-tagline {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;

    background: linear-gradient(
        90deg,
        rgba(255,255,255,0.35),
        rgba(255,255,255,1),
        rgba(255,255,255,0.35)
    );

    background-size: 200% 100%;

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: whitePulse 8s ease-in-out infinite;
}

@keyframes whitePulse {
    0%   { background-position: 0% 50%; }
    50%  { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}


/*==================== NAV ========================*/
.nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li {
    display: inline-block;
    margin-left: 24px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: color 0.3s;
}

.nav a:hover {
    color: #c9a14a;
}

.cart-link {
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.cart-link:visited {
    color: white;
}

.cart-link:hover {
    color: #c9a14a;
}

/* ================= HERO ================= */
.hero {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
        url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    transform: scale(1);
    transition: transform 0.1s linear;
    z-index: 1;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image:
        linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.9)),
        url("logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% auto;
    z-index: 1;
}

.hero-content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding-top: 120px;
}

.hero h1 {
    font-family: "Playfair Display", serif;
    font-size: 110px;
    letter-spacing: 3px;

    background: linear-gradient(
    180deg,
    rgba(255,255,255,1) 0%,
    rgba(255,255,255,0.85) 45%,
    rgba(255,255,255,0.45) 75%,
    rgba(255,255,255,0.3) 100%
);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.hero p {
    font-size: 20px;
    text-align: center;
    color: #cccccc;
}

@keyframes zoomOut {
    from { transform: scale(1.15); }
    to   { transform: scale(1); }
}


/* ================= PRODUCTS ================= */
.products {
    padding: 80px 40px;
    text-align: center;
}

.products h2 {
    font-size: 34px;
    margin-bottom: 50px;
}

/* ===== SLIDER CONTROLS ===== */

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider-btn {
    width: 55px;
    height: 55px;
    border: none;
    border-radius: 50%;
    background: rgba(255,255,255,0.08);
    color: #c9a14a;
    font-size: 28px;
    cursor: pointer;

    backdrop-filter: blur(6px);

    transition:
        transform 0.3s,
        background 0.3s,
        box-shadow 0.3s;
}

.slider-btn:hover {
    background: rgba(201,161,74,0.15);
    transform: scale(1.1);

    box-shadow:
        0 0 15px rgba(201,161,74,0.35),
        0 0 30px rgba(201,161,74,0.15);
}

.slider-btn:active {
    transform: scale(0.96);
}

.product-slider {
    width: 930px;          /* 3 cards × 280px + gaps */
    overflow: hidden;
    padding: 20px 5px 0 20px; 
}

.product-track {
    display: flex;
    gap: 30px;
    transition: transform 0.6s ease;
}

.product-link {
    flex: 0 0 auto;
    text-decoration: none;
    color: inherit;
}


.product-card {
    width: 280px;
    background-color: #141414;
    border-radius: 14px;
    padding: 18px;
    transition: transform 0.4s, box-shadow 0.4s;
}

/* Product page */

.product-page {
    display: flex;
    gap: 60px;
    align-items: flex-start;
}

.product-image {
    width: 300px;
    height: auto;
    display: block;
    border-radius: 12px;
}
.product-image-frame {
    background-color: #161616;   /* slightly lighter than bg */
    padding: 9px;
    border-radius: 18px;
    margin-left: 50px;
    margin-top: 80px;
    transition: transform 0.4s, box-shadow 0.4s;
}

.product-image-frame:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 18px 35px rgba(0,0,0,0.7);
}

.product-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 18px 35px rgba(0,0,0,0.7);
}

.product-description {
    max-width: 600px;           /* keeps left edge near page center */
    padding: 24px;
    border: 12px solid #222;     /* subtle border */
    border-radius: 12px;        /* rounded corners */
    margin-top: 80px;
    margin-left: auto;
    margin-right: 30px;         /* 50px gap from right edge */
    color: #cccccc;
    line-height: 1.5;
    font-size: 20px;
    font-family: comic sans MS;
    transition: transform 0.4s, box-shadow 0.4s;
}

.product-description:hover {
    transform: translateY(-8px) scale(1.07);
    box-shadow: 0 12px 25px rgba(0,0,0,0.6);
}

.product-info {
    flex: 0 0 320px;   /* fixed width column */
    align-items: center;
    margin-top: 80px;
}

/* ================= ABOUT ================= */
.about {
    background-color: #111;
    padding: 70px 40px;
    text-align: center;
}

.about p {
    max-width: 800px;
    margin: auto;
    line-height: 1.6;
    color: #cccccc;
}

/* ================= CART / CHECKOUT ================= */
.cart-page {
    padding: 80px 40px;
    text-align: center;
}

.cart-box {
    max-width: 700px;
    margin: auto;
    background-color: #141414;
    padding: 30px;
    border-radius: 14px;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 6px;
    border: none;
}

/* ================= FOOTER ================= */
footer {
    background-color: black;
    text-align: center;
    padding: 15px;
    color: #888;
    font-size: 14px;
} 

footer a {
    color: #c9a14a;
    text-decoration: none;
}

.buy-btn {
    display: inline-block;
    margin-top: 30px;        /* more space */
    padding: 14px 36px;     /* bigger button */
    background-color: #c9a14a;
    color: #000000;         /* force visible text */
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: #b08e3e;
}

/* 4 COLUMN PRODUCT SHOWCASE */
.four-column {
    display: grid;
    grid-template-columns: repeat(4, 280px); /* same card width */
    justify-content: center;                /* same alignment as home */
    gap: 40px;                              /* SAME gap as homepage */
}

/* Responsive fallback */
@media (max-width: 1200px) {
    .four-column {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .four-column {
        grid-template-columns: 1fr;
    }
}
